
.form-column {
    display: grid; /* Change from flex to grid */
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 16px; /* Add gap between columns */
    width: 782px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
  }


  .patients-info {
    color: #0B2B5B;
    font-size: 10px;
    padding: 40px;
  }

  .patient-number {
    display: flex;
   
    justify-content: flex-start; /*Align items to the left within the row */
    align-items: center;
    grid-column: span 2; /* Span 2 columns in the grid */
    cursor: pointer;
  }
  
  .patient-number h1 {
    font-size: 26px; /* Adjust the font size as needed */
    margin: 0;
    background-color: #25A575;
    color: white;
    width: 40px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    
  }
  
  .patient-number h2 {
    font-size: 20px; /* Adjust the font size as needed */
    margin-left: 20px;
    color: #3A719B;
  
  }
  
  
  .form-field {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    margin-left: 20px;
    margin-right: 20px;
   
  
  }

  .form-field, ::placeholder {
    color: #3A719B;
  }
  
  .icon {
    margin-right: 8px;
    color:  #B8C7CC;
  }

  .icon-delete, .arrow-up, .arrow-down {
    color: #B8C7CC;
    margin-right: 8px;
  }

  
  .input-container {
    flex: 1;
    display: flex; /* Add display flex to align icon and input */
    align-items: center; /* Center align icon and input vertically */
    border: none;
    padding: 5px;
    

  }
  
  .input-field {
    flex: 1;
    border: none;
    width: 250px;
    color:  #3A719B;
   
  }

  .submit-button {
    width: 782px;
    height: 48px;
    border-radius: 34.5px;
    background: #0B2B5B;
    color: #FFFFFF; /* Text color */
    font-size: 18px; /* Adjust font size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    cursor: pointer; /* Add pointer cursor on hover */
  }

  .form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 800px;
  }
  
  
 .adress-notes {
    display: grid;
    grid-column: span 2;
    gap: 16px;
    
 }

 .new-patient {
    color: #0B2B5B;
    cursor: pointer;
    margin: 50px;
 }

 .saved-forms {
  display: grid;
  grid-template-columns: 1fr;
  width: 782px;
  margin: 5px;
  
 }

 .saved-form.closed {
    margin-bottom: 8px;
    background-color: white;
    border-radius: 4px;
 }

 .saved-form.closed .patient-number h1 {
  border-bottom-left-radius: 5px;
}



 .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
 }

 .patient-name-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 720px;
 }

 .icons-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }


 /* Add specific background colors for patient numbers */
.saved-form.closed:nth-child(1) .patient-number h1 {
  background-color: #25A575; /* Number 1 */
}

.saved-form.closed:nth-child(2) .patient-number h1 {
  background-color: #2595A5; /* Number 2 */
}

.saved-form.closed:nth-child(3) .patient-number h1 {
  background-color: #3A719B; /* Number 3 */
}

.saved-form.closed:nth-child(4) .patient-number h1 {
  background-color: #254B7A; /* Number 4 */
}

.saved-form.closed:nth-child(5) .patient-number h1 {
  background-color: #142B58; /* Number 5 */
}
